@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
    background-color: #141414;
    color: white;
}
/* Shared Styles */
.display-flex{
    display: flex;
}
.background-primary{
   background-color: #141414;
}
.btn-primary{
    padding: 12px 24px;
    background-color: #E6533C;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
}
.heading-primary{
    font-size: 36px;
    font-weight: 800;
    color: #E6533C;
}
.text-paragraph{
    font-size: 16px;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.5);
}

.heading-secondary{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
    color: #FFFFFF;
}
h3{
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
}
.text-content{
    font-size: 14px;
    font-weight: 400px;
    text-align: center;
    padding: 0px 30px 0 30px;
    color: #ffffff80;
}



/* Header Section Styles Start */
.header-section{
    max-width: 80%;
    margin: 0 auto;
}
ul{
    max-width: 465px;
    height: 46px;
    border: 1px solid #1A2130;
    border-radius: 39px;
    justify-content: center;
    align-items: center;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    list-style: none;
    margin-right: 65px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.header-main{
    justify-content: space-between;
 
}
.header-text-content h1{
    font-size: 78px;
    font-weight: 900;
    margin-right: 167px;
}
.header-text-content p{
    font-size: 16px;
    font-weight: 400;
    justify-content: flex-start;
}
.btn-secondary{
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #141414;
    border: 1px solid rgba(255, 255, 255);
    border-radius: 42px;
    margin-left: 14px;

}
/* Habit Section Styles */
.habit-section{
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habit-text{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
}

.habit-main-content{
    margin-left: 0px;
}
.content{
    margin-bottom: 58px;
}
.content img{
    margin-left: 50px;
}
.round{
    border-radius: 50%;
}

/* Run Section Starts Here */

.run-container{
    max-width: 80%;
    height: 371px;
    margin: 0 auto;
    background-color: #222222;
    justify-content: column;
    gap: 165px;
    border-radius: 18px;
}
.run-text-content{
    width: 443px;
    height: 290px;
    justify-content: center;
    align-items: flex-start;
    margin-left: 54px;

}

.btn-three{
    padding: 12px 50px;
    background-color: #E6533C;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    margin-top: 34px;
}
.run-man img{
    width: 366px;
    height: 300px;
    border-radius: 18px;
    margin-top: 32px;

}
/* chart and calculation section styles*/

.chart-container{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 80px;
}
.chart-text-content{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bmi-container{
    height: 487px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #222222;
    border-radius: 10px;
}
.bmi-chart, .bmi-form{
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}
.bmi-chart{
    margin-top: 52px;
    margin-left: 50px;
}
h4{
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 0;
}
.bmi-chart table{
    width: 310px;
    height: 216px;
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 52px;


}
.bmi-chart tr, .bmi-chart th, .bmi-chart td{
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.bmi-chart th, .bmi-chart td{
    font-size: 14px;
    color: #ffffff80;
    font-weight: 400;
    padding: 13px 18px;
}
.bmi-form p{
    font-size: 14px;
    font-weight: 400;
    color: #ffffff80;
    margin-top: 14px;
    margin-bottom: 34px;
}
.bmi-form input{
    width: 200px;
    height: 30px;
    gap: 10px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
    margin-right: 5px;
    border: none;
    border-radius: 8px;
    padding: 5px 5px;
    background-color: rgba(255, 255, 255, 0.1);
}
#sex{
    width: 210px;
    height: 40px;
    border: none;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
}
#activity-factor{
    width: 425px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
}
option{
    color: #141414;
}











/* Responsive part */
@media screen and (max-width: 576px) {
    .habit-section{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
}