@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
    background-color: #141414;
    color: white;
}
/* Shared Styles */
.display-flex{
    display: flex;
}
.background-primary{
   background-color: #141414;
}
.btn-primary{
    padding: 12px 24px;
    background-color: #E6533C;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
}
.heading-primary{
    font-size: 36px;
    font-weight: 800;
    color: #E6533C;
}
.text-paragraph{
    font-size: 16px;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}

.heading-secondary{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
    color: #FFFFFF;
}
h3{
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
}
.text-content{
    font-size: 14px;
    font-weight: 400px;
    text-align: center;
    padding: 0px 30px 0 30px;
    color: #ffffff80;
}



/* Header Section Styles Start */
.header-section{
    max-width: 80%;
    margin: 0 auto;
}
ul{
    max-width: 465px;
    height: 46px;
    border: 1px solid #1A2130;
    border-radius: 39px;
    justify-content: center;
    align-items: center;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    list-style: none;
    margin-right: 65px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.header-main{
    justify-content: space-between;
 
}
.header-text-content h1{
    font-size: 78px;
    font-weight: 900;
    margin-right: 167px;
}
.header-text-content p{
    font-size: 16px;
    font-weight: 400;
    justify-content: flex-start;
}
.btn-secondary{
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #141414;
    border: 1px solid rgba(255, 255, 255);
    border-radius: 42px;
    margin-left: 14px;

}
.header-img-content{
    flex-direction: column;
}
.header-img{
    display: block;
}
.btn-card-1{
    width: 193px;
    border: 1px solid  rgba(255, 255, 255, 0.1);
    background-color: #393939;
    backdrop-filter: 20px;
    text-align: left;
    padding: 10px 35px 20px 20px;
    border-radius: 12px;
    top: 20px;
    right: 20px;
}
.card-heading{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 900;
    
}
.card-text{
    font-size: 13px;
    font-size: 400;
    color: rgba(255, 255, 255, 0.65);
}
.btn-card-2{
    border: 1px solid  rgba(255, 255, 255, 0.1);
    background-color: #393939;
    backdrop-filter: 20px;
    text-align: left;
    border-radius: 12px;
    width: 173px;
    padding: 10px 35px 20px 20px;
}
.card{
    font-size: 40px;
    font-weight: 900;
    color: #FFFFFF;
    padding-right: 22px;
}
.card-text-left{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
}
/* Habit Section Styles */
.habit-section{
    width: 80%;
    margin: 0 auto;
}
.habit-container{
    width: 1060px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 114px;
}

.habit-text{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
}

.habit-main-content{
    margin-left: 0px;
}
.content{
    margin-bottom: 58px;
}
.content img{
    margin-left: 50px;
}
.round{
    border-radius: 50%;
}

/* Run Section Starts Here */

.run-section{
    max-width: 80%;
    height: 371px;
    margin: 0 auto;
}

.run-container{
    width: 1060px;
    margin: 0 auto;
    padding-bottom: 30px;
    background-color: #222222;
    justify-content: space-between;
    gap: 165px;
    border-radius: 18px;
}
.run-text-content{
    width: 443px;
    height: 290px;
    justify-content: center;
    align-items: flex-start;
    margin-left: 54px;

}

.btn-three{
    padding: 12px 63px;
    background-color: #E6533C;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    margin-top: 34px;
}

.run-man img{
    width: 400px;
    height: 300px;
    border-radius: 18px;
    margin-top: 32px;
    margin-right: 40px;

}
/* chart and calculation section styles*/

.chart-section{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 80px;
}
.chart-container{
    width: 1060px;
    margin: 0 auto;
}
.chart-text-content{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bmi-container{
    height: 487px;
    margin-top: 70px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #222222;
    border-radius: 10px;
}
.bmi-chart, .bmi-form{
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}
.bmi-chart{
    margin-top: 52px;
    margin-left: 50px;
}
h4{
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 0;
}
.bmi-chart table{
    width: 310px;
    height: 216px;
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 52px;


}
.bmi-chart tr, .bmi-chart th, .bmi-chart td{
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.bmi-chart th, .bmi-chart td{
    font-size: 14px;
    color: #ffffff80;
    font-weight: 400;
    padding: 13px 18px;
}
.text{
    font-size: 14px;
    font-weight: 400;
    color: #ffffff80;
    margin-top: 14px;
    margin-bottom: 34px;
}
.bmi-form{
    margin-top: 40px;
}
.bmi-form input{
    width: 201px;
    height: 30px;
    gap: 10px;
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 8px;
    margin-right: 5px;
    border: none;
    border-radius: 8px;
    padding: 8px 10px;
    background-color: rgba(255, 255, 255, 0.1);
}
#sex{
    width: 224px;
    height: 45px;
    padding: 8px 10px;
    border: none;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
}
#activity-factor{
    width: 453px;
    height: 42px;
    padding-left: 10px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
}
option{
    color: #141414;
    padding-left: 8px;
}

/* Team Section Style */

.team-section{
    max-width: 80%;
    margin: 0 auto;

}
.team-content{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 58px;
    margin-top: 58px;
}
.team{
    width: 1060px;
    height: 604px;
    margin: 0 auto;
    padding: 25px 0 0 27px;
    background-color: #222222;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.team img{
    width: 327px;
    height: 272px;
    gap: 20px;
    border-radius: 20px;
    

}











/* Responsive part */
